{% extends 'basefile.html' %}

{% load static %}

{% block title %}Login to HMS{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/authentication.sass' %}" type="text/x-sass" charset="utf-8">
{% endblock %}

{% block content %}
    <div id="login-form" class="container">
        {% if error %}{{ error }}{% endif %}
        <form method="post" class="form-horizontal">

            {% csrf_token %}

            <h1>Login</h1>
            <div class="form-group">
                <label for="id_username" class="control-label col-md-2">ID number:</label>
                <div class="col-md-10">
                    <input id="id_username" maxlength="30" name="username" type="text" class="form-control">
                </div>
                <span class="material-input"> </span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="id_password">Password:</label>
                <div class="col-md-10">
                    <input id="id_password" maxlength="128" name="password" type="password" class="form-control">
                </div>
                <span class="material-input"> </span>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <input type="submit" value="Login!" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}