{% extends 'basefile.html' %}

{% load static %}

{% block title %}Statistic{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'dashboard/css/statistic.sass' %}">
{% endblock %}

{% block content %}
    <body class="graph">
        <div class="col-md-10 multiple">
            <div class="col-md-4" id="acceptvsnot"></div>
            <div class="col-md-4" id="turnover"></div>
        </div>
        <div class="col-md-10" id="patientflow"></div>
    </body>
{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static 'bower/highcharts/highcharts.js' %}></script>
    <script type="text/javascript" src={% static 'bower/highcharts/highcharts-more.js' %}></script>
    <script type="text/javascript" src={% static 'bower/highcharts/modules/heatmap.js' %}></script>
    <script type="text/javascript" src={% static 'bower/highcharts/modules/treemap.js' %}></script>
    <script type="text/javascript" src={% static 'bower/highcharts/modules/exporting.js' %}></script>
    <script type="text/coffeescript" charset="utf-8" src={% static 'statistic/js/statistic.coffee' %}></script>
{% endblock %}

