<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Ward</th>
                <th>No. Bed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>84/9 อ </td>
                <td>1 </td>
            </tr>
            <tr>
                <td>วธ.3 </td>
                <td>2 </td>
            </tr>
            <tr>
                <td>84/10 ต </td>
                <td>2 </td>
            </tr>
        </tbody>
    </table>
</div>