{% load i18n %}
{% load helpers %}

<div class="bs-docs-section">
    <div class="row">
        <div>
            <h1 id="table">{% trans 'Bed Status'%}</h1>
        </div>
        <div class="bs-component" ng-controller="BedStatusController as beds">
            <table class="table table-bordered table-striped table-hover" border="1">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th colspan="20">{% trans 'Room Number'%}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ward in wards %}
                        <tr>
                            <td>{{ ward }}</td>
                            {% for room in ward.rooms.all %}
                                <td id="{{ room.number }}" class="room-{{ room.status }}">{{ room.number }}</td>
                            {% endfor %}
                            {% for _ in max_room|times:ward.rooms.count %}<td></td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>