<div class="bs-docs-section">
    <div class="row">
        <div>
            <div class="patientinfo" ng-show="bedCtrl.isPatientData">
                <dl class="detailPatient">
                    <dt>{$ bedCtrl.firstName $}</dt>
                    <dt>{$ bedCtrl.lastName $}</dt>
                    <dt>{$ bedCtrl.symptom $}</dt>
                    <dt>{$ bedCtrl.doctor $}</dt>
                    </dl>
            </div>
        </div>
        <div class="bs-component">
            <table class="table table-bordered table-striped table-hover" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="20">Room Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ward in bedCtrl.wards">
                        <td>{$ ward.name $} {$ ward.remark $} Tel. {$ ward.phone $} ({$ ward.price $})</td>
                        <td ng-repeat="room in ward.rooms" id="{$ ward.id $}-{$ room.number $}" class="room-{$ room.status.key $}" ng-mouseenter="bedCtrl.onHover(room)" ng-mouseleave="bedCtrl.onOutHover(room)">
                            {$ room.number $}
                            <div ng-if="room.status.key === 'OC'" id ="patientpopup">
                                <dl class="detaillist">
                                    <dt>ห้อง: {$ room.number $}</dt>
                                    <dt>ชื้อ: คนไข้1</dt>
                                    <dt>อาการ: ไข้หวัดใหญ่</dt>
                                    <dt>หมอ: หมอ1</dt>
                                    <dt>EDD: 13/4/2016</dt>
                                </dl>
                                <a class="btn-sm infobutton" href="#">ย้าย</a>
                                <a class="btn-sm infobutton" href="#">แก้ไข</a>
                                <a class="btn-sm infobutton" href="#">ลบ</a>
                            </div>
                            <div ng-if="room.status.key === 'AV'" id ="patientpopup">
                                <dl class="detaillist">
                                    <dt>ห้อง: {$ room.number $}</dt>
                                    <dt>สถานะ: ว่าง</dt>
                                </dl>
                                <a ng-hide="bedCtrl.isPatientData" class="btn-sm infobutton" href="#">
                                    จอง
                                    <div id="queuespopup">
                                        <div class="table-responsive" style="margin-top: 2%;">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                   <tr>
                                                       <th>HN Number</th>
                                                       <th>First name</th>
                                                       <th>Last name</th>
                                                       <th>Appointment</th>
                                                       <th>Symptom</th>
                                                       <th>Doctor</th>
                                                       <th>Phone Number</th>
                                                       <th>Status</th>
                                                       <th></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in qCtrl.qData">
                                                    <td>{$ item.patient.hn $}</td>
                                                    <td>{$ item.patient.first_name $}</td>
                                                    <td>{$ item.patient.last_name $}</td>
                                                    <td>{$ item.admit_date $}</td>
                                                    <td>{$ item.symptom $}</td>
                                                    <td>{$ item.doctor $}</td>
                                                    <td>{$ item.phoneNo $}</td>
                                                    <td>{$ item.status.value $}</td>
                                                    <td><a ui-sref="choose-bed" ng-if="item.status.key === 0" ng-click="qCtrl.choose(item)">Choose</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </a>
                                <a ng-show="bedCtrl.isPatientData" class="btn-sm infobutton" href="#">จอง</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>