<div class="bs-docs-section">
    <div class="row">
        <div ng-controller="BedStatusController as bedCtrl">
            <div class="patientinfo">
                <dl class="detailPatient" ng-show="bedCtrl.isPatientData">
                    <dt>{$ bedCtrl.firstName $}</dt>
                    <dt>{$ bedCtrl.lastName $}</dt>
                    <dt>{$ bedCtrl.symptom $}</dt>
                    <dt>{$ bedCtrl.doctor $}</dt>
                    </dl>
            </div>
        </div>
        <div class="bs-component">
            <table class="table table-bordered table-striped table-hover" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="20">Room Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ward in bedCtrl.wards">
                        <td>{$ ward.name $}</td>
                        <td ng-repeat="room in ward.rooms" id="{$ room.number $}" class="room-{$ room.status $}" ng-mouseover="bedCtrl.onHover(room)" ng-mouseleave="bedCtrl.onHover(room)">{$ room.number $}<div ng-show="bedCtrl.show">showing</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>