<div class="table-responsive qtable">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>คนไข้ทดลอง1 โดยเด็กมหิดล</td>
                <td>วันนี้</td>
            </tr>
            <tr>
                <td>คนไข้ทดลอง2ที่ชื่อยาวกว่า โดยเด็กมหิดล</td>
                <td>พรุ่งนี้</td>
            </tr>
            <tr>
                <td>คนไข้3</td>
                <td>28/4/2016 </td>
            </tr>
        </tbody>
    </table>
</div>