<div id="home" class="container">
    <div id="CurrentStatistics">
        <div class="col-md-3">
            <label class="lead text-center text-primary">Available Beds</label>
            <div ng-include="'templates/home/tables/available-bed.html'"></div>
        </div>
        <div class="col-md-4">
            <label class="lead text-center text-primary">Expected Discharge Date</label>
            <div ng-include="'templates/home/tables/edd.html'"></div>
        </div>
        <div class="col-md-5">
            <label class="lead text-center text-primary">People who admitted today</label>
            <div ng-include="'templates/home/tables/admitted-today.html'"></div>
        </div>
    </div>
    <div class="col-md-12 admittable" ng-controller="queueController as qCtrl">
        <label class="lead text-center text-primary">{{ 'FOO'| translate }}</label>
        <div ng-include="'templates/queues/queues.html'"></div>
    </div>
</div>