<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% CheckOutStep.steps.each do |string, id| %>
          <Cell><Data ss:Type="String"><%= string %></Data></Cell>
        <% end %>
      </Row>
      <Row>
        <% @steps.each do |step| %>
            <Cell><Data ss:Type="String"><%= step.average_duration %></Data></Cell>
        <% end %>
      </Row>
    </Table>
  </Worksheet>
</Workbook>