<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <% (0..23).each do |i| %>
            <Cell><Data ss:Type="String"><%= i %> O'Clock</Data></Cell>
        <% end %>
      </Row>
      <% @stats.each do |statK, statV| %>
          <Row>
            <Cell><Data ss:Type="String"><%= statK %></Data></Cell>
            <% statV.each do |x| %>
                <Cell><Data ss:Type="String"><%= x %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>