<%= form_for(@admit) do |f| %>
  <% if @admit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admit.errors.count, "error") %> prohibited this admit from being saved:</h2>

      <ul>
      <% @admit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
