#bed-status-all.center-block.container.container-slim(ng-app="QueuesApp")
    .row
        h1#table.col-xs-12.col-sm-6.col-md-8.col-lg-8.align-left(translate) Bed Status
        table#legends.col-xs-12.col-sm-6.col-md-4.col-lg-4.align-right.table-bordered.table-striped(border="1")
            tr.text-center
                td.room-available(translate) AVAILABLE
                td.room-availableSoon(translate) AVAILABLE_SOON
                td.room-occupied(translate) OCCUPIED
                td.room-reserved(translate) RESERVED
                td.room-disabled(translate) DISABLED
    div(ng-controller="queueController as qCtrl")
        div(ng-include="'templates/bedStatus/tables/status.html'")
        div(ng-include="'templates/bedStatus/tables/icu.html'")