{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Default Title ;({% endblock %}</title>

        {# Bootstrap Material Design #}
        <link rel="stylesheet" href="{% static 'bower/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="{% static 'bower/bootstrap-material-design/dist/css/ripples.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'bower/bootstrap-material-design/dist/css/bootstrap-material-design.css' %}" type="text/css">

        <script type="text/javascript" src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower/bootstrap-material-design/dist/js/material.js' %}"></script>

        {# sass in here VV or else.... #}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/global.sass' %}" type="text/x-sass" charset="utf-8">
            {% block css %}{% endblock %}
        {% endcompress %}
    </head>

    {% block body %}
        <body>
            {% include 'header.html' %}
            {% block content %}{% endblock %}
            {% include 'footer.html' %}
        </body>
    {% endblock %}

    {% compress js %}
        <script> $.material.init(); </script>
        {% block js %}{% endblock %}

    {% endcompress %}
</html>