{% load i18n %}

<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">HBM</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                {# only show if user logged in #}
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="{% if request.resolver_match.url_name == 'landing' %}active{% endif %}" role="presentation"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li class="{% if request.resolver_match.url_name == 'queues' %}active{% endif %}" role="presentation"><a href="{% url 'queues' %}">{% trans "Queue" %}</a></li>
                        <li class="{% if request.resolver_match.url_name == 'book_queue' %}active{% endif %}" role="presentation"><a href="{% url 'book_queue' %}">{% trans "Add Queue" %}</a></li>
                        <li class="{% if request.resolver_match.url_name == 'status' %}active{% endif %}" role="presentation"><a href="{% url 'status' %}">{% trans "Bed Status" %}</a></li>
                        <li class="{% if request.resolver_match.url_name == 'statistic' %}active{% endif %}" role="presentation"><a href="{% url 'statistic' %}">{% trans "Statistic" %}</a></li>
                        <li class="{% if request.resolver_match.url_name == 'check_out' %}active{% endif %}" role="presentation"><a href="{% url 'check_out' %}">{% trans "Check-out" %}</a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'switch-lang' %}">{% trans "ภาษาไทย" %}</a></li>
                    {# show user stuff if logged in, login button if not #}
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ request.user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#">Setting</a></li>-->
                                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                                <!--<li><a href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                    {% else %}
                        <li class="active" role="presentation">
                          <a href="{% url 'login' %}">{% trans "Login" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>