<div id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">HBM</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                {# only show if user logged in #}
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="{% if request.resolver_match.url_name == 'status' %}active{% endif %}" role="presentation"><a href="{% home %}">Home</a></li>
                        <li class="{% if request.resolver_match.url_name == 'status' %}active{% endif %}" role="presentation"><a href="{% url 'status' %}">Status</a></li>
                        <li role="presentation"><a href="#">Process </a></li>
                        <li class="{% if request.resolver_match.url_name == 'check_in' %}active{% endif %}" role="presentation"><a href="{% url 'check_in' %}">Check-in</a></li>
                        <li role="presentation"><a href="#">Check-out </a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {# show user stuff if logged in, login button if not #}
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }}
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)">Setting</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    <li><a href="javascript:void(0)">Something else here</a></li>
                                </ulfi
                            </li>
                        {% else %}
                            <li class="active" role="presentation">
                              <a href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>