@import 'bootstrap'
@import 'bootstrap-material-design'
@import 'font-awesome-sprockets'
@import 'font-awesome'

@import 'bed-status'
@import 'login'

[class*='fa-caret-']
  margin-left: 6px

.v-center-dt
  margin: 5px 0
.right-pad
  padding-right: 5px
.disabled
  display: none

.fake-link
  &, & a
    cursor: pointer

.container
  position: relative
  height: 100%
  margin: 2% auto
  width: 80%

.container-hover
  background-color: white
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5)

.container-slim
  width: 90%

#header
  height: 60px
  @media screen and (min-width: 700px)
    .dropdown:hover .dropdown-menu
      display: block
      margin-top: 0

#search-box
  border: 1px solid #ccc
  border-radius: 4px
  position: relative
  .fa-search
    color: #999
    position: absolute
    left: 15px
    top:  18px
  input
    padding-left: 30px
    margin-bottom: 0

.stat-chart
  width: 80%
  height: 500px
  margin-top: -30px
  & > div > div > div > svg > rect
    display: none

#padTop
  margin-top: 25px

//= small piece of code here
body
  // add-queue.html
  #add-queue
    .form
      width: 80%
      .form-control
        margin-top: 10px
      button.btn-default
        @media (max-width: 991px)
          margin-top: 0
      #input-booking-date
        padding-left: 76px

// remove selected date styling in bootstrap date-picker
.btn:not(.btn-raised).btn-info
  &, .input-group-btn &
    color: #000