#bed-status-all
  margin: 1% auto
  #queues-table
    margin: auto 20px
  .containerStatus
    position: relative
    margin-top: 7%
    margin-left: 5%
    margin-right: 5%

  a
    cursor: pointer

  .popup
    display: none
    border: 2px solid #ccc
    border-radius: 10px
    position: absolute
    background-color: whitesmoke
    &#queues
      margin-left: -100%
      div
        margin: 0 !important
    &#patient
      padding: 14px
  .detail-list
    margin-left: 7%
    margin-top: 10px

  table#legends td
    width: 100px !important
    padding: 10px 0

  tbody
    td
      color: black

      &:first-child:not(.text-center)
        white-space: nowrap

      a:hover #queues.popup
        display: block
      &:hover #patient.popup
        display: block
        color: black

      &.room
        max-width: 48px
      &.room-available
        background-color: #88FFCC
      &.room-availableSoon
        background-color: #FFFF88
      &.room-occupied
        background-color: #FF9797
      &.room-reserved
        background-color: #A8CFFF
      &.room-disabled
        background-color: #C0C0C0
