.container
  position: relative
  height: 100%
  margin-top: 10%

.long-text
  font-size: 20px

@media screen and (min-width: 1000px)
  #eddtable
    width: 29%

@media screen and (max-width: 1000px)
  .long-text
    font-size: 18px
    margin-top: 4px
