.containerStatus
  position: relative
  margin-top: 7%
  margin-left: 5%
  margin-right: 5%

a
  cursor: pointer

.popup
  display: none
  border: 2px solid black
  position: absolute
  background-color: whitesmoke
  &#queues
    margin-left: -100%
    div
      margin: 0 !important
  &#patient
    padding: 14px
.detail-list
  margin-left: 7%
  margin-top: 10px
table
  &#legends
    margin: 15px 0
    td
      width: 100px !important
      padding: 10px 0

  td
    color: black
    a:hover #queues.popup
      display: block
    &:hover #patient.popup
      display: block
      color: black
    &.room-AV
      background-color: mediumspringgreen
    &.room-AS
      background-color: #ffff4c
    &.room-OC
      background-color: #ff3333
      color: white
    &.room-RE
      background-color: #2b65ec
      color: white
    &.room-DI
      background-color: #cdc9c9
