{% extends 'basefile.html' %}
{% load static %}

{% block title %}Add Queue{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="add-queue" class="container container-hover container-slim" ng-app="addQueueApp" ng-controller="addQueuesCtrl as addCtrl">
        <h1>Booking</h1>
        <div class="form center-block">
            <p class="explain">*หน้าเพิ่มข้อมูลคนไข้เข้าสู่ระบบ หรือ ใส่ HN number เพื่อที่จะดึงข้อมูลคนไข้ที่มีอยู่ในระบบอยู่แล้วอัตโนมัติ<br> จากนั้นให้ใส่วันที่ที่นัดไว้แล้วกด "confirm" เพื่อยืนยันการนัดหมาย ชื่อของคนไข้จะขึ้นในหน้า Queues</p>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <form class="bs-component">
                        <div class="form-group">
                            <label class="control-label" for="addon1">Put in HN number to search</label>
                            <div class="input-group">
                                <span class="input-group-addon">HN:</span>
                                <input type="text" class="form-control" id="addon1" ng-model="addCtrl.patientInfo.hn">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="addCtrl.search()">
                                        Search
                                        <div class="ripple-container"></div>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputFirstName">First name :</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputFirstName" ng-model="addCtrl.patientInfo.first_name">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputLastName">Last name :</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputLastName" ng-model="addCtrl.patientInfo.last_name">
                    </div>
                    <span class="material-input"> </span>
                </div>
                <div class="form-group style=&quot;margin-top:0;&quot;">
                    <label class="col-md-2 control-label short-word">Sex : </label>
                    <div class="col-md-10">
                        <div class="radio radio-primary">
                            <label>
                                <input type="radio" name="sex" id="male" ng-model="addCtrl.patientInfo.sex" ng-value="name">
                                <span class="circle"></span>
                                <span class="check"></span>
                                Male
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                                <input type="radio" name="sex" id="female" ng-model="addCtrl.patientInfo.sex" ng-value="name">
                                <span class="circle"></span>
                                <span class="check"></span>
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputAge">Age :</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputAge" ng-model="addCtrl.patientInfo.age">
                    </div>
                    <span class="material-input"> </span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputPhoneNumber">Phone number:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputPhoneNumber" ng-model="addCtrl.patientInfo.phone">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputSyndrome">Symptom :</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputSyndrome" ng-model="addCtrl.admitInfo.symptom">
                    </div>
                    <span class="material-input"> </span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputDoctor">Doctor :</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputDoctor" ng-model="addCtrl.admitInfo.doctor">
                    </div>
                    <span class="material-input"> </span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="inputBookingDate">Booking Date:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="inputBookingDate" ng-model="addCtrl.admitInfo.admit_date">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-primary" href="#" ng-click="addCtrl.addToQueue()">Confirm</a>
                        <!--<button class="btn btn-primary" type="submit">Assign Room</button>-->
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{% static 'dashboard/js/add-queue-controller.coffee' %}"></script>
{% endblock %}