{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Default Title ;({% endblock %}</title>
         <!-- Material Design fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        {% compress css %}
            {% block css %}{% endblock %}{% static 'bootstrap/package.json' %}
        {% endcompress %}
    </head>

    {% block body %}
        <body>
            {% include 'header.html' %}
        {{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.css
            {% block content %}{% endblock %}
            {% include 'footer.html' %}
        </body>
    {% endblock %}

    {% block js %}{% endblock %}
</html>