{% extends 'basefile.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/home.sass' %}" type="text/x-sass" charset="utf-8">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <div class="col-md-2">
            <label class="lead text-center text-primary">Available Beds</label>
            {% include 'tables/available-beds-table.html' %}
            <p class="explain">*ตารางแสดงจำนวนเตียงว่างของแผนกนั้นๆ</p>
        </div>
        <div class="col-md-5">
            <label class="lead text-center text-primary">Expected Discharge Date</label>
            {% include 'tables/edd-table.html' %}
            <p class="explain">*ตารางแสดงชื่อและวันที่ของคนไข้ที่คาดว่าจะออกจากโรงพยาบาล</p>
        </div>
        <div class="col-md-5">
        <label class="lead text-center text-primary">People who admitted today</label>
            {% include 'tables/admitted-today-table.html' %}
            <p class="explain">*ตารางแสดงชื่อและแผนกที่คนไข้ได้แอดมิท</p>
        </div>
    </div>
    <div class="col-md-12 admittable">
        <label class="lead text-center text-primary">Queues</label>
        {% include 'tables/queue-table.html' %}
        <p class="explain">*ตารางแสดงคนไข้ที่รอการจำหน่ายเตียงซึ่งสามารถจำหน่ายเตียงได้ทันทีโดยการกดปุ่ม "choose"</p>
    </div>
</div>
{% endblock %}