{% extends 'basefile.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% trans "Queues" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'dashboard/css/queues.sass' %}">
    <link rel="stylesheet" type="text/x-sass" href="{% static 'dashboard/css/status.sass' %}">
{% endblock %}

{% block content %}
    <body ng-app="QueuesApp">
    <h1>Queues </h1>
    <div class="container">
        <div ui-view></div>
    </div>
</body>
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{% static 'dashboard/js/queue-status-app.coffee' %}"></script>
{% endblock %}