{% extends 'basefile.html' %}
{% load static %}

{% block title%}Queues{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'dashboard/css/status.sass' %}">
{% endblock %}

{% block content %}
    <div id="queues" class="container" ng-app="QueuesApp">
        <h1>Queues</h1>
        <div class="container container-hover container-slim">
            <div ui-view></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{% static 'dashboard/js/queue-status-app.coffee' %}"></script>
{% endblock %}