{% extends 'basefile.html' %}

{% load static %}

{% block title %}Bed Status{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'dashboard/css/status.sass' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% include 'tables/bed-status-table.html' %}
    <p class="explain">*ตารางแสดงสถานะของเตียงทั้งหมด โดยสามารถดูข้อมูลของห้องต่างๆได้ </p>
    <p class="explain">     1.ถ้าห้องว่าง เมื่อลากเมาส์ไปอยู่บนหมายเลขห้อง ปุ่มจองจะถูกแสดงขึ้นมาบนหน้าจอ และเมื่อเลือนไปที่ปุ่มจอง ระบบจะแสดงคิวของคนไข้เพื่อให้เลือกและทำการจำหน่ายเตียงได้ทันที</p>
    <p class="explain">     2.ถ้าห้องไม่ว่าง เมื่อลากเมาส์ไปอยู่บนหมายเลขห้อง ข้อมูลของคนไข้ โรค หมอผู้รับผิดชอบและวันที่คาดว่าจะออกจากโรงพยาบาลจะถูกแสดงขึ้นบนหน้าจอ นอกจากนี้ยังสามารถที่จะย้ายเตียงคนไข้ ลบออกจากระบบ และแก้ไขข้อมูลได้</p>
    <p class="explain">     ความหมายของแต่ละสี</p>
    <p class="explain">     สีเขียว: ห้องว่าง</p>
    <p class="explain">     สีแดง: ห้องไม่ว่าง</p>
    <p class="explain">     สีเหลือง: คาดว่าจะว่าง</p>
    <p class="explain">     สีน้ำเงิน: จองพิเศษ</p>
    <p class="explain">     สีเทา: ห้องไม่สามารถใช้ไงานได้</p>
</div>
{% endblock %}

{% block js %}
    <script> var static_url = {% get_static_prefix %}</script>
{#    <script type="text/coffeescript" src="{% static 'dashboard/js/bedStatusAll.coffee' %}"></script>#}
{% endblock %}