nav#header.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand.navbar-link(href="#") HBM
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navcol-1")
        span.sr-only(translate) Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navcol-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(role="presentation")
          a(href="#" translate) test1
        li(role="presentation")
          a(href="#" translate) test2
        li(role="presentation")
          a(href="#" translate) test3
        li(role="presentation")
          a(href="#" translate) test4
        li(role="presentation")
          a(href="#" translate) test5
        li(role="presentation")
          a(href="#" translate) test6
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#" translate) switchlang
        li.dropdown
          a.dropdown-toggle(href="#" data-target="#" data-toggle="dropdown")
            b.caret
          ul.dropdown-menu
            li
              a(href="#" translate)
        li.active(role="presentation")
          a(href="#" translate)